<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat veritatis molestiae impedit suscipit animi velit porro inventore eligendi! Minus nulla omnis reprehenderit eum hic saepe ut pariatur minima quos.</p>
<h1>Complete el siguiente formulario</h1>
<form action="">
    <input type="text" placeholder="Nombre">
</form>
